/* Style des boutons */
.custom-button {
    -fx-background-color: #FFEB3B;
    -fx-text-fill: black;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-padding: 10px 20px;
    -fx-background-radius: 5px;
    -fx-border-radius: 5px;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.4), 5, 0.5, 0, 3);
}

.custom-button:hover {
    -fx-background-color: black;
    -fx-text-fill: #FFEB3B;
}

/* Style des champs de texte */
.input-field {
    -fx-background-color: #444;
    -fx-text-fill: white;
    -fx-border-color: #777;
    -fx-border-radius: 5px;
    -fx-padding: 8px;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.5), 3, 0.5, 0, 1);
}
